<nav class= "nav">
          <p>

        <%= link_to "users", users_path %> | <%= link_to "timelines", timelines_path  %>
        <%= " Welcome, #{current_user.name}" if current_user %>
      </p>
        </nav>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <h4 class="user_name"><%= link_to user.name, "/users/#{user.id}" %></h4>

<p class="user_bio">
  <%= user.bio %>
</p>
<% if user.photo.blank? == false %>
<img class="user_photo" src=<%= user.photo %>>
<% else %>
<img class="user_photo" src="http://www.nobelprize.org/nobel_prizes/literature/laureates/1953/churchill.jpg">
<%end%>
      <p>
        <ul class="timelines">
        <% user.timelines.each do |timeline| %>
          <li class="timeline_title">
            <%= link_to timeline.title, "/timelines/#{timeline.id}" %>
          </li>
        <% end %>
        </ul>
      </p>
    </li>
  <% end %>
</ul>
