<nav class= "nav">
          <p>

        <%= link_to "users", users_path %> | <%= link_to "timelines", timelines_path  %>
        <%= " Welcome, #{current_user.name}" if current_user %>
      </p>
        </nav>

<h2 class="user_name">
  <%= @user.name %>
</h2>
<p class="user_bio">
  <%= @user.bio %>
</p>
<% if @user.photo.blank? == false %>
<img class="user_photo" src=<%= @user.photo %>>
<% else %>
<img class="user_photo" src="http://www.nobelprize.org/nobel_prizes/literature/laureates/1953/churchill.jpg">
<%end%>

  <div class="col span_1_of_3_left_timelines">

  <ul class="timelines">
    <% @user.timelines.each do |timeline| %>
      <li>
        <h4><%= link_to timeline.title, "/timelines/#{timeline.id}" %></h4>
      </li>
    <% end %>
  </ul>
  </div>
