<nav class= "nav">
          <p><%= link_to "users", users_path %> | <%= link_to "timelines", timelines_path  %> | <%= link_to "logout", "user/logout"  %><br>
        <%= " Welcome, #{current_user.name}" if current_user %>
      </p>
        </nav>
<div class="section group">

<h2>Timelines</h2>
</div>
<div class="section group">
   <%= render partial: "timelineform", locals: { timeline_local: @timeline, user: @user } %>
<!-- LEFT-HAND COLUMN -->
  <div class="col span_1_of_3_left">
    <% link_to "new", "/timelineform" %>

  <ul class="timelines">
    <% @timelines.each do |timeline| %>
      <li>
        <h4><%= link_to timeline.title, "/timelines/#{timeline.id}" %></h4>
      </li>
    <% end %>
  </ul>
  </div>


 </div>


<!-- RIGHT-HAND COLUMN -->
