<nav class= "nav">
          <p><%= link_to "users", users_path %> | <%= link_to "timelines", timelines_path  %>
      </p>
        </nav>

<div class="section group">



<h2 class="timeline_title"><%= @timeline.title %></h2>  <p class="edit"><%= link_to "edit", "/timelines/#{@timeline.id}/edit" %></p>
<h5>  <%= @timeline.begin_date %> through
  <%= @timeline.end_date %> </h5>
<h4> <%= @milestone_title %> <%= @milestone_name %> </h4>
</div>



 <div class="span_3_of_3">

<div class= "left_milestone_col">

<ul class="milestone_year">
  <h4 class="year"><%= @year_1 %></h4>
</ul>
  <div class="break"></div>

</div>

<div class="col span_1_of_3_right">
  <div class="milestone_sections">
     <h5 class= "milestone_title"> Events </h4>
  </div>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_1.event_1 %></li>
  <li class="triangle"><%= @year_date_1.event_2 %></li>
  <li class="triangle"><%= @year_date_1.event_3 %></li>
  <li class="triangle"><%= @year_date_1.event_4 %></li>
  <li class="triangle"><%= @year_date_1.event_5 %></li>
  <li class="triangle">=== April ===</h>\nApril \u2013 The [[world population]] reaches 4 billion people estimated by the [[United States Census Bureau]].\n* [[April 2]] &amp;ndash; French president [[President]] [[Georges Pompidou]], dies of cancer at 63. [[Alain Poher]] succeeds him immediately and [[Val\u00e9ry Giscard d'Estaing]] wins the presidential contest in May 1974.\n* [[April 3]]&amp;ndash;[[April 4|4]] &amp;ndash; An enormous [[Tornado outbreak|outbreak]] of [[tornado]]es strikes the central parts of the [[United States]], killing around 319 people. Known as the \"[[Super Outbreak]]\", the event is the largest and deadliest of its kind until the [[April 25\u201328, 2011 tornado outbreak]].\n* [[April 4]] &amp;ndash; [[Hank Aaron]] ties [[Babe Ruth]] for the all-time home run record with his 714th at [[Riverfront Stadium]] in [[Cincinnati]].\n* [[April 5]] &amp;ndash; [[Stephen King]] publishes ''[[Carrie (novel)|Carrie]]'', his first novel under his own name.\n* [[April 6]]  \n** Swedish pop group [[ABBA]] win the [[1974 Eurovision Song Contest]] with ''[[Waterloo (ABBA song)|Waterloo]]''.\n** [[California Jam]] is held at the [[Ontario Motor Speedway]] in [[Ontario, California]], attracting 250,000 fans.\n* [[April 8]]  &amp;ndash; [[Hank Aaron]] became the all-time [[MLB]] home run leader with his 715th at [[Atlanta]] in front of a national television audience.\n* [[April 11]] &amp;ndash; The [[Kiryat Shmona massacre]] takes place in [[Israel]].\n* [[April 15]] &amp;ndash; As \"Tania\", [[Patty Hearst]] is photographed wielding an M1 carbine while robbing the Sunset District branch of the Hibernia Bank in San Francisco.\n* [[April 25]] &amp;ndash; ''[[Carnation Revolution]]'': A left-wing military [[coup]] in [[Portugal]] restores [[democracy]], ending 48 years of [[Estado Novo (Portugal)|Estado Novo]] and [[Ditadura Nacional]] dictatorship in the country. [[Prime Minister of Portugal|Portuguese Prime Minister]] [[Marcello Caetano]] flees to [[Brazilian military dictatorship|Brazil]] and is granted political asylum by [[President of Brazil|Brazilian military president]] [[Em\u00edlio Garrastazu M\u00e9dici]]</li>

  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_image.image %>></img>
  </div>
  <div class="event_break"></div>
</div>

</div>
<br>

 <div class="span_3_of_3">

<div class= "left_milestone_col">

<ul class="milestone_year">
  <h4 class="year"><%= @year_2 %></h4>
</ul>
  <div class="break"></div>

</div>

<div class="col span_1_of_3_right">
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_2.event_1 %></li>
  <li class="triangle"><%= @year_date_2.event_2 %></li>
  <li class="triangle"><%= @year_date_2.event_3 %></li>
  <li class="triangle"><%= @year_date_2.event_4 %></li>
  <li class="triangle"><%= @year_date_2.event_5 %></li>
  <div class="event_break"></div>
</div>

</div>




 <div class="col span_1_of_3_left_year">
<div class= "timeline_border" >

  <ul class="milestone_year">
  <!-- <h4 class="year"><%= @year_1 %></h4> -->
  <div class="break"></div>
  <h4 class="year"><%= @year_2 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_3 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_4 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_5 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_6 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_7 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_8 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_9 %></h4>
  <div class="break"></div>
  <h4 class="year"><%= @year_10 %></h4>
  </ul>
</div>


</div>
<div class="col span_1_of_3_right">
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_1.event_1 %></li>
  <li class="triangle"><%= @year_date_1.event_2 %></li>
  <li class="triangle"><%= @year_date_1.event_3 %></li>
  <li class="triangle"><%= @year_date_1.event_4 %></li>
  <li class="triangle"><%= @year_date_1.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_2.event_1 %></li>
  <li class="triangle"><%= @year_date_2.event_2 %></li>
  <li class="triangle"><%= @year_date_2.event_3 %></li>
  <li class="triangle"><%= @year_date_2.event_4 %></li>
  <li class="triangle"><%= @year_date_2.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_3.event_1 %></li>
  <li class="triangle"><%= @year_date_3.event_2 %></li>
  <li class="triangle"><%= @year_date_3.event_3 %></li>
  <li class="triangle"><%= @year_date_3.event_4 %></li>
  <li class="triangle"><%= @year_date_3.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_4.event_1 %></li>
  <li class="triangle"><%= @year_date_4.event_2 %></li>
  <li class="triangle"><%= @year_date_4.event_3 %></li>
  <li class="triangle"><%= @year_date_4.event_4 %></li>
  <li class="triangle"><%= @year_date_4.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_5.event_1 %></li>
  <li class="triangle"><%= @year_date_5.event_2 %></li>
  <li class="triangle"><%= @year_date_5.event_3 %></li>
  <li class="triangle"><%= @year_date_5.event_4 %></li>
  <li class="triangle"><%= @year_date_5.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_6.event_1 %></li>
  <li class="triangle"><%= @year_date_6.event_2 %></li>
  <li class="triangle"><%= @year_date_6.event_3 %></li>
  <li class="triangle"><%= @year_date_6.event_4 %></li>
  <li class="triangle"><%= @year_date_6.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_7.event_1 %></li>
  <li class="triangle"><%= @year_date_7.event_2 %></li>
  <li class="triangle"><%= @year_date_7.event_3 %></li>
  <li class="triangle"><%= @year_date_7.event_4 %></li>
  <li class="triangle"><%= @year_date_7.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_7.event_1 %></li>
  <li class="triangle"><%= @year_date_7.event_2 %></li>
  <li class="triangle"><%= @year_date_7.event_3 %></li>
  <li class="triangle"><%= @year_date_7.event_4 %></li>
  <li class="triangle"><%= @year_date_7.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_8.event_1 %></li>
  <li class="triangle"><%= @year_date_8.event_2 %></li>
  <li class="triangle"><%= @year_date_8.event_3 %></li>
  <li class="triangle"><%= @year_date_8.event_4 %></li>
  <li class="triangle"><%= @year_date_8.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_9.event_1 %></li>
  <li class="triangle"><%= @year_date_9.event_2 %></li>
  <li class="triangle"><%= @year_date_9.event_3 %></li>
  <li class="triangle"><%= @year_date_9.event_4 %></li>
  <li class="triangle"><%= @year_date_9.event_5 %></li>
  <div class="event_break"></div>
  <li class="triangle"><%= @year_date_10.event_1 %></li>
  <li class="triangle"><%= @year_date_10.event_2 %></li>
  <li class="triangle"><%= @year_date_10.event_3 %></li>
  <li class="triangle"><%= @year_date_10.event_4 %></li>
  <li class="triangle"><%= @year_date_10.event_5 %></li>
  </ul>
</div>
</div>
