<nav class= "nav">
          <p><%= link_to "users", users_path %> | <%= link_to "timelines", timelines_path  %>
      </p>
        </nav>

<div class="section group">



<h2 class="timeline_title"><%= @timeline.title %></h2>  <p class="edit"><%= link_to "edit", "/timelines/#{@timeline.id}/edit" %></p>
<h5>  <%= @timeline.begin_date %> through
  <%= @timeline.end_date %> </h5>
<h4> <%= @milestone_title %> <%= @milestone_name %> </h4>
</div>

<div class="col span_1_of_3_right">
  <h4 class="year"><%= @year_1 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_1.event_1 %></li>
  <li class="triangle"><%= @year_date_1.event_2 %></li>
  <li class="triangle"><%= @year_date_1.event_3 %></li>
  <li class="triangle"><%= @year_date_1.event_4 %></li>
  <li class="triangle"><%= @year_date_1.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_1.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_1.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_1.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_1.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_1.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_2 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_2.event_1 %></li>
  <li class="triangle"><%= @year_date_2.event_2 %></li>
  <li class="triangle"><%= @year_date_2.event_3 %></li>
  <li class="triangle"><%= @year_date_2.event_4 %></li>
  <li class="triangle"><%= @year_date_2.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_2.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_2.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_2.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_2.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_2.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_3 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_3.event_1 %></li>
  <li class="triangle"><%= @year_date_3.event_2 %></li>
  <li class="triangle"><%= @year_date_3.event_3 %></li>
  <li class="triangle"><%= @year_date_3.event_4 %></li>
  <li class="triangle"><%= @year_date_3.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_3.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_3.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_3.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_3.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_3.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_4 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_4.event_1 %></li>
  <li class="triangle"><%= @year_date_4.event_2 %></li>
  <li class="triangle"><%= @year_date_4.event_3 %></li>
  <li class="triangle"><%= @year_date_4.event_4 %></li>
  <li class="triangle"><%= @year_date_4.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_4.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_4.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_4.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_4.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_4.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_5 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_5.event_1 %></li>
  <li class="triangle"><%= @year_date_5.event_2 %></li>
  <li class="triangle"><%= @year_date_5.event_3 %></li>
  <li class="triangle"><%= @year_date_5.event_4 %></li>
  <li class="triangle"><%= @year_date_5.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_5.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_5.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_5.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_5.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_5.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_6 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_6.event_1 %></li>
  <li class="triangle"><%= @year_date_6.event_2 %></li>
  <li class="triangle"><%= @year_date_6.event_3 %></li>
  <li class="triangle"><%= @year_date_6.event_4 %></li>
  <li class="triangle"><%= @year_date_6.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_6.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_6.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_6.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_6.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_6.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_7 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_7.event_1 %></li>
  <li class="triangle"><%= @year_date_7.event_2 %></li>
  <li class="triangle"><%= @year_date_7.event_3 %></li>
  <li class="triangle"><%= @year_date_7.event_4 %></li>
  <li class="triangle"><%= @year_date_7.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_7.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_7.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_7.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_7.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_7.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_8 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_8.event_1 %></li>
  <li class="triangle"><%= @year_date_8.event_2 %></li>
  <li class="triangle"><%= @year_date_8.event_3 %></li>
  <li class="triangle"><%= @year_date_8.event_4 %></li>
  <li class="triangle"><%= @year_date_8.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_8.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_8.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_8.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_8.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_8.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_9 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_9.event_1 %></li>
  <li class="triangle"><%= @year_date_9.event_2 %></li>
  <li class="triangle"><%= @year_date_9.event_3 %></li>
  <li class="triangle"><%= @year_date_9.event_4 %></li>
  <li class="triangle"><%= @year_date_9.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_9.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_9.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_9.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_9.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_9.fashion_image_5 %>></img>
  </div>
  <div class="event_break"></div>
  <h4 class="year"><%= @year_10 %></h4>
  <hr class="year-line"></hr>
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_10.event_1 %></li>
  <li class="triangle"><%= @year_date_10.event_2 %></li>
  <li class="triangle"><%= @year_date_10.event_3 %></li>
  <li class="triangle"><%= @year_date_10.event_4 %></li>
  <li class="triangle"><%= @year_date_10.event_5 %></li>
  </ul>
  <div class="milestone_sections">
  <h5 class= "milestone_title"> Fashion </h4>
  <img class= "year_image" src=<%= @year_date_10.fashion_image_1 %>></img>
  <img class= "year_image" src=<%= @year_date_10.fashion_image_2 %>></img>
  <img class= "year_image" src=<%= @year_date_10.fashion_image_3 %>></img>
  <img class= "year_image" src=<%= @year_date_10.fashion_image_4 %>></img>
  <img class= "year_image" src=<%= @year_date_10.fashion_image_5 %>></img>
  </div>
  </ul>
<ul class="timeline_border">
</div>
