<div class="section group">



<h2 class="timeline_title"><%= @timeline.title %></h2>  <p class="edit"><%= link_to "edit", "/timelines/#{@timeline.id}/edit" %></p>
<h5>  <%= @timeline.begin_date %> through
  <%= @timeline.end_date %> </h5>
<h4> <%= @milestone_title %> <%= @milestone_name %> </h4>
</div>
 <div class="col span_1_of_3_left">
<div class= "timeline_border" >

  <ul class="milestone_year">
  <h4><%= @year_1 %></h4>
  <li><%= @year_2 %></li>
  <li><%= @year_3 %></li>
  <li><%= @year_4 %></li>
  <li><%= @year_5 %></li>
  <li><%= @year_6 %></li>
  <li><%= @year_7 %></li>
  <li><%= @year_8 %></li>
  <li><%= @year_9 %></li>
  <li><%= @year_10 %></li>
  </ul>
</div>


</div>
<div class="col span_1_of_3_right">
  <ul class="timeline_border">
  <li class="triangle"><%= @year_date_1.event_1 %></li>
  <li class="triangle"><%= @year_date_1.event_2 %></li>
  <li class="triangle"><%= @year_date_1.event_3 %></li>
  <li class="triangle"><%= @year_date_1.event_4 %></li>
  <li class="triangle"><%= @year_date_1.event_5 %></li>
  <ul class="timeline_border">
</div>
</div>
